
.justifiedtxt {
    text-align: justify;
}

.label-v {
    margin-bottom: 2%;
}

.row-v {
    margin-bottom: 7%;
}

/* & >  -> nested tags */
div.form-group div.togglePasswContainer {
    clear: both;
    margin-top: 2%;
    font-size: small;
    width: 100%;
    cursor: pointer;
    & > a {
        float: right;
        text-decoration: none;
    }
}

/* & >  -> nested spans */
span#user_loggedin {
    text-align: right;
    margin-right: 1%;
    font-size: small;
    color: black;
    & > span {
        /* font-size: small; */
        font-weight: bold;
        color: green;
    }
}
