{% extends 'base.html.twig' %}

{% block body %}
<div class="d-flex justify-content-center">
    <div class="mx-5 mt-4" style="width: 50%">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">
                    <img src="{{ asset('img/no-entry.png') }}">
                    Panel zadań niedostępny
                </h5>
            </div>
            <div class="card-body">
                <p class="card-text">
                    Nie masz uprawnień do zarządzania zadaniami. Zaloguj się jako administrator.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}