{% extends 'base.html.twig' %}

{% block body %}
<div class="d-flex justify-content-center">
    <div class="mx-5 mt-4" style="width: 50%">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">
                    <img src="{{ asset('img/prioritize.png') }}">
                    Panel zadań
                </h5>
            </div>
            <div class="card-body">
                <p class="card-text">
                    Witaj w panelu zadań! <img src="{{ asset('img/smile1.png') }}"> ...no faktycznie nie udało się w 100% zrealizowac zadania (zabrakło nieco czasu), ale i tak jest sporo zrobione. <br>
                    <script type="module" src="{{ asset('js/requests.js') }}"></script>
                    <div id="task-list">
                        <div class="js-sortable list-group" data-hs-sortable-options='{"animation": 150, "group": "listGroup4", "fallbackOnBody": true}'>

                        </div>
                    </div>
                </p>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}